<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.example.springboot.HelloControllerIT"/>
      <class name="com.example.springboot.HelloControllerTest"/>
      <class name="selenium.SeleniumTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
